<login>
  <clID>[% user %]</clID>
  <pw>[% pass %]</pw>
  [% IF new_password %]<newPW>[% new_password %]</newPW>[% END %]
  <options>
    <version>1.0</version>
    <lang>[% IF lang.defined %][% lang %][% ELSE %]en[% END %]</lang>
  </options>
  <svcs>
    <objURI>urn:ietf:params:xml:ns:domain-1.0</objURI>
    <objURI>urn:ietf:params:xml:ns:contact-1.0</objURI>
  </svcs>
</login>
