Makefile
Makefile.old
META.yml
/MANIFEST
MANIFEST.bak
blib
pm_to_blib
*.tar.gz
/inc
cover_db
/SIGNATURE
debian/libsrs-epp-proxy*
debian/files
debian/watch
/SRS-EPP-Proxy-*
debian
.includepath
.project
build-stamp
install-stamp